@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-highlight: #6644F3;
}

@import "@shopify/shop-minis-react/styles";


.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(102, 68, 243, 0.5);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 68, 243, 0.7);
}